<h2>ALL RESTAURANTS</h2>
<hr>
<ul>
<% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %> - <%= restaurant.address %> - <%= restaurant.category %></li>
<% end %>
</ul>

<%= link_to "create a new restaurant", new_restaurant_path %>
